@{
    ViewData["Title"] = "Sobre Nosotros";
}
<div class="container my-5">
    <h2 class="mb-4 text-center">Sobre Seguroquesi</h2>
    <div class="row">
        <div class="col-md-6">
            <p>
                Somos una empresa líder en seguros, comprometida con la protección y tranquilidad de nuestros clientes. Nuestro equipo está formado por profesionales con amplia experiencia en el sector asegurador.
            </p>
            <ul>
                <li>+10 años de experiencia</li>
                <li>Atención personalizada 24/7</li>
                <li>Respaldo internacional</li>
            </ul>
        </div>
        <div class="col-md-6 text-center">
            <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=400&q=80" class="img-fluid rounded shadow" alt="Equipo Seguroquesi">
        </div>
    </div>
</div>